@import '../../_breakpoints.scss';

.about {
  
  /* &::before {
    content: '';
    position: absolute;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    inset: 0;
    z-index: -1;
  } */

  &__content {
    margin: 0 auto;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    @include respond-to(md) {
      width: 100%;
      padding: 1rem;
      padding-top: 5rem;
    }

    &__image {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: var(--border-radius);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
      }
    }
  }
  
  .textContainer {
    padding: 2rem 0rem;
    color: var(--primary-color);
  
    .textBox {
      width: 100%;
      text-align: center;
      &__content {
        p {
          margin-bottom: 1rem;
        }
      }
      .socials {
        display: flex;
        gap: 1rem;
  
        .socilas__item {
          transition: all 0.3s ease;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }
  
}